<div ng-show="(model.token != 'null') && (model.oauth != null);">
  <h2>Select a board</h2>
  <div ng-repeat="board in boards">	
    <div class="well" ng-show="board.closed == false;">
      <div class="row">
	<div class="col-md-9">
	  <h3>{{board.name}}</h3>
	</div> <!-- col-md-9 -->
	<div class="col-md-3">
	  <button title="Select" ng-click="select($index)" type="button" class="btn btn-primary">Select</button>
	</div> <!-- col-md-3 -->
      </div> <!-- row -->
    </div> <!-- well -->
  </div> <!-- ng-repeat -->
</div> <!-- ng-show model -->